.bio {
  position: relative;
  text-align: center;
}

.bio__image {
  display: inline-block;
  border-radius: 100%;
  margin-bottom: 0.5rem;
  width: 8rem;
}

.bio__title {
  font-size: var(--text-400);
  margin-bottom: 0.25rem;
}

.bio__title a {
  text-decoration: none;
}

.bio__overview {
  font-size: var(--text-300);
  margin-bottom: 0;
  line-height: 1.125;
  opacity: 0.8;
}
