.card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: var(--radius-regular);
  overflow: hidden;
  text-align: center;
}

.card__cover {
  width: 100%;
}

.card__inner {
  padding: var(--size-400);
}

.card__logo {
  display: inline-block;
  max-width: 8rem;
  margin-bottom: var(--size-400);
}
