.card-carousel {
  display: flex;
}

.card-carousel.tns-horizontal.tns-subpixel > .tns-item {
  display: inline-flex;
  flex-direction: column;
}

.card-carousel .tns-item[aria-hidden] .card a {
  display: none;
}
