.card {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: var(--radius-regular);
  overflow: hidden;
  flex: 1;
  background: var(--color-light);
}

.card:focus-within {
  border-color: var(--color-primary);
}

.card__cover {
  display: block;
  width: 100%;
}

.card__inner {
  padding: var(--size-400);
  text-align: center;
}

.card__inner > *:last-child {
  margin-bottom: 0;
}

.card__logo {
  display: inline-block;
  max-width: 8rem;
  height: 3rem;
  object-fit: contain;
  margin-bottom: var(--size-400);
}
