.card-grid {
  --auto-grid-min: max(18rem, calc(33% - var(--size-200)));
  --auto-grid-gap: var(--size-200);
}

.card {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: var(--radius-regular);
  overflow: hidden;
  flex: 1;
  min-height: 100%;
  background: var(--color-light);
}

.card:focus-within {
  border-color: var(--color-primary);
}

.card__cover {
  display: block;
  width: 100%;
  height: auto;
}

.card__inner {
  padding: var(--size-500);
  text-align: center;
}

.card__inner a {
  text-decoration: none;
}

.card__inner > *:last-child {
  margin-bottom: 0;
}

.card__logo {
  display: inline-block;
  width: auto;
  max-width: 8rem;
  height: 3rem;
  object-fit: contain;
  margin-bottom: var(--size-400);
}
