ul.checklist {
  margin-bottom: var(--size-400);
}

.checklist li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.checklist li:before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: url('/img/icons/check.svg') center / contain;
  margin: 0.25rem 0.5rem 0 0;
  flex-shrink: 0;
}
