.numbered-grid-block {
  counter-reset: numberedgrid;
}

.grid-block:before {
  counter-increment: numberedgrid;
  content: '0' counter(numberedgrid);
  font-size: var(--size-700);
}

.grid-block__title {
  font-size: var(--size-400);
  margin-bottom: 0.5rem;
}

.grid-block__icon {
  margin-bottom: 1rem;
}
