.hero {
  position: relative;
  z-index: 1;
  padding: calc(6rem + var(--size-900)) 0;
  color: var(--color-light);
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
  z-index: -1;
}
