.image-panel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(32rem, 100vw), 1fr));
}

.image-panel__image {
  width: 100%;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
}

@media (min-width: 65rem) {
  .image-panel__image {
    order: -1;
    height: 100%;
  }
}

.image-panel__content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--size-800);
}
