.nav {
  display: flex;
  align-items: center;
}

.nav li a:not(.button) {
  display: block;
  text-decoration: none;
  color: currentColor;
  padding: 0.25rem var(--size-400);
  line-height: 1;
}

.nav li a img,
.nav li a svg {
  display: inline-block;
  height: 1rem;
  width: auto;
}

.nav li.divider {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
