ul.nav {
  --nav-padding: var(--size-400);

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 calc(var(--nav-padding) * -1);
  line-height: 1;
}

.nav li a:not(.button):not(.flag) {
  display: block;
  text-decoration: none;
  color: currentColor;
  padding: var(--nav-padding);
  line-height: 1;
}

.nav li a:not(.flag) img,
.nav li a:not(.flag) svg {
  display: block;
  height: 1rem;
  width: auto;
}

.nav li.divider {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.nav .flag {
  margin: var(--size-400) 0;
}

ul.nav--vertical {
  flex-direction: column;
}

ul.nav--vertical li.divider {
  border: none;
}
