ul.nav {
  --nav-padding: var(--size-300);

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 calc(var(--nav-padding) * -1);
  line-height: 1;
  min-width: 18rem;
}

.nav li a:not(.button) {
  display: block;
  text-decoration: none;
  color: currentColor;
  padding: 0.5rem var(--nav-padding);
  line-height: 1;
}

.nav li .button {
  margin: 0 var(--nav-padding);
}

.nav li a .icon {
  display: block;
  height: 1rem;
  width: auto;
}

@media (min-width: 48em) {
  .nav li.divider {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    margin-left: var(--nav-padding);
    padding-left: var(--nav-padding);
  }
}

ul.nav--vertical {
  flex-direction: column;
}

ul.nav--vertical li.divider {
  border: none;
}

ul.nav--vertical li a:not(.button) {
  padding: var(--nav-padding);
}

ul.nav--vertical .flag {
  margin: var(--size-400) 0;
}
