.results {
  border-bottom-left-radius: var(--radius-regular);
  border-bottom-right-radius: var(--radius-regular);
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: var(--size-600);
}

.search-result {
  padding: var(--size-200);
}

.search-result a {
  text-decoration: none;
}
