ul.segment-control {
  display: inline-flex;
  background: var(--color-regular-gray);
  box-shadow: var(--shadow-standard);
  margin-bottom: var(--size-700);
  border-radius: var(--radius-regular);
}

.segment-control li {
  margin: 0 var(--size-200);
}

.segment-control li button {
  padding: var(--size-200);
  line-height: 1;
  background: none;
  border: none;
  appearance: none;
  font-weight: var(--weight-mid);
  color: currentColor;
  cursor: pointer;
}

.segment-control li button[aria-selected='true'] {
  color: var(--color-dark);
}
