---
layout: 'layouts/default.njk'
title: Blog
pagination:
  data: collections.posts
  size: 36
  alias: posts
---

<section class="[ hero hex-background ] [ bg-dark text-align-center ]">
  <canvas class="hex-background__canvas"></canvas>
  <script src="/js/components/hex-background.js" defer></script>

  <div class="wrapper">
    <div class="measure-short">
      <h1>{{ "Thoughts, stories and ideas." | i18n }}</h1>
    </div>
  </div>
</section>

<section class="pad-top-600 pad-bottom-600">
  <div class="wrapper">
    <div class="[ blog-split ] [ split-pair ]">
      <div>
        <div class="gap-bottom-600">
          <form id="search" action="https://www.google.co.uk/search" method="get">
            <div class="input-group">
              <input type="hidden" name="q" id="q" value="site:{{ site.locale.root }}">
              <label for="search-str" class="visually-hidden">Search</label>
              <input type="text" name="q" id="search-str" placeholder="Search..." class="input-group__input">
              <button type="submit" class="button input-group__button">{{ "Search" | i18n }}</button>
            </div>
          </form>

          <ul id="results" class="results"></ul>
          <script src="/js/components/blog-search.js" defer></script>
        </div>

        <ul class="[ card-grid ] [ auto-grid ]">
          {% for post in posts %}
            {% include '../_includes/partials/post-card.njk' %}
          {% endfor %}
        </ul>
      </div>

      <div class="measure-tiny">
        <div class="blog-split__tags">
          <h2 class="text-400">Tags</h2>
          <ul>
            {% for tag in collections.tags %}
              <li><a href="{{ tag.url }}">{{ tag.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    {% include "partials/pagination.njk" %}
  </div>
</section>