---
layout: 'layouts/default.njk'
title: Blog
pagination:
  data: collections.posts
  size: 27
  alias: posts
---

<section class="[ hero ] [ bg-dark text-align-center ]">
  <img src="{% cloudinary '/hero/about.jpg', 'w_1400,f_auto' %}" class="hero__background" alt="Contact Us Background">
  <div class="wrapper">
    <div class="measure-short">
      <h1>{{ "Blog" | i18n }}</h1>
    </div>
  </div>
</section>

<section class="pad-top-600 pad-bottom-600">
  <div class="wrapper">
    <div class="[ card-grid ] [ auto-grid ]">
      {% for post in posts %}
        <div class="card">
          <img class="card__image" src="{% cloudinaryFetch post.feature_image, 'w_406,h_270,c_fill' %}" srcset="{% cloudinaryFetch post.feature_image, 'w_406,h_270,c_fill,dpr_2.0' %} 2x" loading="lazy" alt="{{ post.title }}">
          <div class="card__inner">
            <h2 class="text-500 gap-bottom-100"><a href="{{ post.url }}" class="breakout-button">{{ post.title }}</a></h2>
            <p class="text-300 weight-mid">Posted on {{ post.created_at | date }}</p>
            <p>{{ post.excerpt }}</p>
          </div>
        </div>
      {% endfor %}
    </div>

    {% include "partials/pagination.njk" %}
  </div>
</section>