.breakout-left {
  margin-left: calc(50% - 50vw);
}

.breakout-right {
  margin-right: calc(50% - 50vw);
}

@media (min-width: 48em) {
  .md\:breakout-left {
    margin-left: calc(50% - 50vw);
  }

  .md\:breakout-right {
    margin-right: calc(50% - 50vw);
  }
}

@media (min-width: 68em) {
  .lg\:breakout-left {
    margin-left: calc(50% - 50vw);
  }

  .lg\:breakout-right {
    margin-right: calc(50% - 50vw);
  }
}
