.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: var(--wrapper-max-width, 80rem);
  padding: 0 1rem;
}

.wrapper--short {
  --wrapper-max-width: 56rem;
}

.wrapper--compact {
  --wrapper-max-width: 44rem;
}
