{% set css %}
  {% include '../css/utility/auto-grid.css' %}
  {% include '../css/utility/breakout.css' %}
  {% include '../css/utility/breakout-button.css' %}
  {% include '../css/utility/embed.css' %}
  {% include '../css/utility/flow.css' %}
  {% include '../css/utility/measure.css' %}
  {% include '../css/utility/reset.css' %}
  {% include '../css/utility/split-pair.css' %}
  {% include '../css/utility/tokens.css' %}
  {% include '../css/utility/type-scale.css' %}
  {% include '../css/utility/wrapper.css' %}
  {% include '../css/global/bg.css' %}
  {% include '../css/global/global.css' %}
  {% include '../css/global/site-footer.css' %}
  {% include '../css/global/site-header.css' %}
  {% include '../css/global/type.css' %}
  {% include '../css/components/bio.css' %}
  {% include '../css/components/button.css' %}
  {% include '../css/components/button-group.css' %}
  {% include '../css/components/card.css' %}
  {% include '../css/components/card-carousel.css' %}
  {% include '../css/components/card-form.css' %}
  {% include '../css/components/checklist.css' %}
  {% include '../css/components/checkbox-field.css' %}
  {% include '../css/components/country-list.css' %}
  {% include '../css/components/gallery-block.css' %}
  {% include '../css/components/grid-block.css' %}
  {% include '../css/components/expanded-navigation.css' %}
  {% include '../css/components/flag.css' %}
  {% include '../css/components/form-field.css' %}
  {% include '../css/components/hero.css' %}
  {% include '../css/components/hex-background.css' %}
  {% include '../css/components/location-list.css' %}
  {% include '../css/components/image-panel.css' %}
  {% include '../css/components/logo-grid.css' %}
  {% include '../css/components/menu-toggle.css' %}
  {% include '../css/components/nav.css' %}
  {% include '../css/components/promo-split.css' %}
  {% include '../css/components/segment-control.css' %}
  {% include '../css/components/stat-block.css' %}
  {% include '../css/components/tabs.css' %}
  {% include '../css/components/window.css' %}
  {% include '../css/vendor/tiny-slider.css' %}
{% endset %}
<!doctype html>
<html class="no-js" lang="{{ locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'partials/meta.njk' %}
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>