---
layout: layouts/default.njk
eleventyComputed:
  title: "{{ name }}"
  metaTitle: "{{ name }} - {{ position }}"
tags:
  - bio
---

<section class="[ bio-block ] [ pad-top-900 pad-bottom-900 bg-dark color-primary-light ]">
  <div class="wrapper wrapper--short">
      {% set image = '/team/' ~ name | firstWord ~ '.jpg' %}
      <img src="{% cloudinary image, 'w_128,h_128,c_fill,d_avatar.svg' %}" srcset="{% cloudinary image, 'w_128,h_128,c_fill,dpr_2.0,d_avatar.svg' %} 2x" class="bio__image" alt="{{ "Photo of" | i18n }} {{ name }}"> 
    
      <div class="bio-block__overview">
        <h1>{{ name }}</h1>
        <h2 class="text-400 color-primary-light">{{ position }}</h2>

        <ul class="nav">
          {% if linkedin %}<li><a href="{{ linkedin }}" target="_blank" rel="noopener noreferrer">{% include '../../img/icons/linkedin.svg' %}</a></li>{% endif %}
          {% if stackexchange %}<li><a href="{{ stackexchange }}" target="_blank" rel="noopener noreferrer">{% include '../../img/icons/stackexchange.svg' %}</a></li>{% endif %}
          {% if github %}<li><a href="{{ github }}" target="_blank" rel="noopener noreferrer">{% include '../../img/icons/github.svg' %}</a></li>{% endif %}
          {% if medium %}<li><a href="{{ medium }}" target="_blank" rel="noopener noreferrer">{% include '../../img/icons/medium.svg' %}</a></li>{% endif %}
          {% if twitter %}<li><a href="{{ twitter }}" target="_blank" rel="noopener noreferrer">{% include '../../img/icons/twitter.svg' %}</a></li>{% endif %}
        </ul>
      </div>

      {{ content | safe }}

      <a href="/about/#team" class="button">Back to Team</a>
    </div>
  </div>
</section>