---
layout: layouts/default.njk
---

<section class="[ hero ] [ bg-dark ]">
  {% set background = '/stories/covers/' ~ image %}
  <img src="{% cloudinary background, 'w_2000,f_auto' %}" class="hero__background" alt="Background Image for {{ title | i18n }}">
  <div class="wrapper">
    <div class="measure-short">
      <h1 class="eyebrow color-light">{{ title }} {{ "Case Study" | i18n }}</h1>
      <h2 class="text-800">{{ headline | i18n }}</h2>
      <p class="text-500 weight-mid">{{ overview | i18n }}</p>
    </div>
  </div>
</section>
<section class="pad-top-900 pad-bottom-900">
  <div class="wrapper">
    <div class="[ promo-split ] [ split-pair ]">
      <div class="measure-long">
        {{ content | safe }}
      </div>
      <div class="promo-split__sidebar">
        <div class="bg-dark color-primary-light pad-800">
          <h2>{{ "Want to know more?" | i18n }}</h2>
          <p>{{ "The people who work at Geolytix share our vision and values. We’re driven by our belief that the best work is born from a happy, dedicated and trusted team." | i18n }}</p>
          <a href="{{ "/contact/" }}" class="button">{{ "Contact us" | i18n }}</a>
        </div>
      </div>
    </div>
  </div>
</section>