---
layout: layouts/base.njk
---

<header class="site-header">
  <div class="wrapper">
    <div class="site-header__inner">
      <a href="{{ "/" | link(locale.code) }}">{% include '../../img/logo.svg' %}</a>

      <nav class="site-header__navigation" aria-label="Primary navigation">
        <ul class="nav">
          <li><a href="{{ "/#services" | link(locale.code) }}">Services</a></li>
          <li><a href="{{ "/#geodata" | link(locale.code) }}">GeoData</a></li>
          <li><a href="{{ "/#mapp" | link(locale.code) }}">MAPP</a></li>
          <li class="divider"><a href="#">About</a></li>
          <li><a href="https://blog.geolytix.net/" target="_blank" rel="noopener noreferrer">Blog</a></li>
          <li><a href="{{ "/contact/" | link(locale.code) }}" class="button button--outline">Enquire</a></li>

          {% if locale.code %}
            <li>{% include '../partials/flag.njk' %}</li>
          {% endif %}
        </ul>
      </nav>

      <button class="menu-toggle" data-header-menu-toggle aria-haspopup="true" aria-expanded="false"></button>
    </div>
  </div>

  <div class="expanded-navigation" data-status="closed">
    <nav class="expanded-navigation" aria-label="Expanded navigation">
      <ul class="nav nav--vertical">
        <li><a href="#">Services</a></li>
        <li><a href="#">GeoData</a></li>
        <li><a href="#">MAPP</a></li>
        <li class="divider"><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#" class="button button--outline">Enquire</a></li>

        {% if locale %}
          <li>{% include '../partials/flag.njk' %}</li>
        {% endif %}
      </ul>
    </nav>
  </div>
  <script src="/js/components/menu-toggle.js" type="module" defer></script>
</header>

<main>
  {{ content | safe }}
</main>

<aside class="bg-light pad-top-300 pad-bottom-300">
  <ul class="[ logo-grid ] [ auto-grid ]">
    <li><img src="/img/awards/dataiq.png" alt="DataIQ Awards 2020 Winner"></li>
    <li><img src="/img/awards/fsb.jpg" alt="FSB London Business Awards Runner Up"></li>
    <li><img src="/img/awards/geoawesome.png" alt="GEO awesomeness"></li>
    <li><img src="/img/awards/nba.jpg" alt="National Business Awards UK Finalist 2014"></li>
    <li><img src="/img/awards/qa.jpg" alt="The Queen's Awards for Enterprise: Innovation 2016"></li>
    <li><img src="/img/awards/sla.jpg" alt="The Society for Location Analysis"></li>
  </ul>
</aside>

<footer class="site-footer">
  <div class="wrapper">
    <div class="site-footer__section site-footer__primary">
      <span class="site-footer__image">{% include '../../img/logo.svg' %}</span>

      <nav class="site-footer__navigation">
        <ul class="nav">
          <li><a href="#">Services</a></li>
          <li><a href="#">GeoData</a></li>
          <li><a href="#">MAPP</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Blog</a></li>
          <li class="divider"><a href="#">{% include "../../img/icons/linkedin.svg" %}</a></li>
          <li><a href="#">{% include "../../img/icons/twitter.svg" %}</a></li>
        </ul>
      </nav>
    </div>
    <div class="site-footer__section site-footer__secondary">
      <span class="site-footer__image">
        {% if locale.code %}
          {% include '../partials/flag.njk' %}
        {% endif %}
      </span>

      <nav class="[ site-footer__navigation ] [ text-300 ]">
        <ul class="nav">
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>