---
layout: layouts/base.njk
---

<header class="site-header">
  <div class="wrapper">
    <div class="site-header__inner">
      <a href="{{ "/" }}">{% include '../../img/logo.svg' %}</a>

      <nav class="site-header__navigation" aria-label="Primary navigation">
        <ul class="nav">
          {% include '../partials/menu.njk' %}

          {% if locale %}
            <li><a href="{{ "/choose/" }}">{% include '../partials/flag.njk' %}</a></li>
          {% endif %}
        </ul>
      </nav>

      <button class="menu-toggle" data-header-menu-toggle aria-haspopup="true" aria-expanded="false"></button>
    </div>
  </div>

  <div class="expanded-navigation" data-status="closed">
    <nav class="expanded-navigation" aria-label="Expanded navigation">
      <ul class="nav nav--vertical">
        {% include '../partials/menu.njk' %}

        {% if locale %}
          <li><a href="/choose/">{% include '../partials/flag.njk' %}</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
  <script src="/js/components/menu-toggle.js" type="module" defer></script>
</header>

<main>
  {{ content | safe }}
</main>

<aside class="bg-light pad-top-300 pad-bottom-300">
  <div class="wrapper">
    <ul class="[ logo-grid ] [ auto-grid ]">
      <li><img src="/img/awards/dataiq.png" alt="DataIQ Awards 2020 Winner"></li>
      <li><img src="/img/awards/fsb.jpg" alt="FSB London Business Awards Runner Up"></li>
      <li><img src="/img/awards/geoawesome.png" alt="GEO awesomeness"></li>
      <li><img src="/img/awards/nba.jpg" alt="National Business Awards UK Finalist 2014"></li>
      <li><img src="/img/awards/qa.jpg" alt="The Queen's Awards for Enterprise: Innovation 2016"></li>
      <li><img src="/img/awards/sla.jpg" alt="The Society for Location Analysis"></li>
    </ul>
  </div>
</aside>

<footer class="site-footer">
  <div class="wrapper">
    <div class="site-footer__section site-footer__primary">
      <span class="site-footer__image">{% include '../../img/logo.svg' %}</span>

      <nav class="site-footer__navigation" aria-label="Footer navigation">
        <ul class="nav">
          {% include '../partials/menu.njk' %}
        </ul>
      </nav>
    </div>
    <div class="site-footer__section site-footer__secondary">
      {% if pageLocale %}
        <a href="{{ "/choose/" }}" class="site-footer__image">{% include '../partials/flag.njk' %}</a>
      {% endif %}

      <nav class="[ site-footer__navigation ] [ text-300 ]" aria-label="Secondary navigation">
        <ul class="nav">
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>