---
layout: layouts/base.njk
---

<header class="site-header">
  <div class="wrapper">
    <div class="site-header__inner">
      <a href="{{ "/" }}" class="site-header__logo">{% include '../../img/logo.svg' %}</a>

      <nav class="site-header__navigation" aria-label="Primary navigation">
        <ul class="nav">
          {% include '../partials/menu.njk' %}

          {% if site.locale %}
            <li class="color-primary-light"><a href="{{ "/choose/" }}">{{ site.locale.title }}</a></li>
          {% endif %}
        </ul>
      </nav>

      <button class="menu-toggle" aria-label="Toggle menu" data-header-menu-toggle aria-haspopup="true" aria-expanded="false"></button>
    </div>
  </div>

  <div class="expanded-navigation" data-status="closed">
    <nav aria-label="Expanded navigation">
      <ul class="nav nav--vertical">
        {% include '../partials/menu.njk' %}

        {% if site.locale %}
          <li><a href="/choose/">{% include '../partials/flag.njk' %}</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
  <script src="/js/components/menu-toggle.js" type="module" defer></script>
</header>

<main>
  {{ content | safe }}
</main>

<aside id="newsletter" class="bg-light pad-top-300 pad-bottom-300">
  <div class="wrapper">
    <div class="newsletter-form">
      <div class="newsletter-form__content">
        <h2 class="text-400">Stay Up to Date with Geolytix</h2>
        <p class="text-300">We’d love to let you know when we release new open data and update you with new stuff we’re working on. We won’t email often and you can unsubscribe at any time.</p>
      </div>
      <form action="/api/post" method="post" class="newsletter-form__form">
        <div class="input-group">
          <label for="email" class="visually-hidden">{{ "Email Address" | i18n }}</label>
          <input type="email" id="email" class="input-group__input" placeholder="Your email address..." name="email" required>

          <input type="hidden" name="formID" value="22ee0c96-df43-46e4-bfe9-244a057e5e28">
          <button type="submit" class="button input-group__button">{{ "Sign Up" | i18n }}</button>
        </div>
      </form>
    </div>
    <ul class="[ logo-grid ] [ auto-grid ]">
      <li><img src="{% cloudinary "/awards/dataiq.png", 'h_64' %}" srcset="{% cloudinary "/awards/dataiq.png", 'h_64,dpr_2.0' %} 2x" width="64" height="64" alt="DataIQ Awards 2020 Winner"></li>
      <li><img src="{% cloudinary "/awards/fsb.jpg", 'h_64' %}" srcset="{% cloudinary "/awards/fsb.jpg", 'h_64,dpr_2.0' %} 2x" width="64" height="64" alt="FSB London Business Awards Runner Up"></li>
      <li><img src="{% cloudinary "/awards/geoawesome.png", 'h_64' %}" srcset="{% cloudinary "/awards/geoawesome.png", 'h_64,dpr_2.0' %} 2x" width="64" height="64" alt="GEO awesomeness"></li>
      <li><img src="{% cloudinary "/awards/nba.jpg", 'h_64' %}" srcset="{% cloudinary "/awards/nba.jpg", 'h_64,dpr_2.0' %} 2x" width="64" height="64" alt="National Business Awards UK Finalist 2014"></li>
      <li><img src="{% cloudinary "/awards/qa.jpg", 'h_64' %}" srcset="{% cloudinary "/awards/qa.jpg", 'h_64,dpr_2.0' %} 2x" width="64" height="64" alt="The Queen's Awards for Enterprise: Innovation 2016"></li>
      <li><img src="{% cloudinary "/awards/sla.jpg", 'h_64' %}" srcset="{% cloudinary "/awards/sla.jpg", 'h_64,dpr_2.0' %} 2x" width="64" height="64" alt="The Society for Location Analysis"></li>
    </ul>
  </div>
</aside>

<footer class="site-footer">
  <div class="wrapper">
    <div class="site-footer__section site-footer__primary">
      <span class="site-footer__image">{% include '../../img/logo.svg' %}</span>

      <nav class="site-footer__navigation" aria-label="Footer navigation">
        <ul class="nav">
          {% include '../partials/menu.njk' %}
        </ul>
      </nav>
    </div>
    <div class="site-footer__section site-footer__secondary">
      {% if site.locale %}
        <a href="{{ "/choose/" }}" class="site-footer__image">{{ site.locale.title }}</a>
      {% endif %}

      <nav class="[ site-footer__navigation ] [ text-300 ]" aria-label="Secondary navigation">
        <ul class="nav">
          <li><a href="https://twitter.com/geolytix" target="_blank" rel="noopener noreferrer">{% include '../../img/icons/twitter.svg' %}</a></li>
          <li><a href="https://www.linkedin.com/company/geolytix" target="_blank" rel="noopener noreferrer">{% include '../../img/icons/linkedin.svg' %}</a></li>
          <li><a href="https://docs.google.com/document/d/1ZyhEzxi0MCsMK3HnR6fGpBhNm725916AxmElkOsHFIY/edit?usp=sharing" target="_blank" rel="noopener noreferrer">Privacy Policy</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>