.site-footer {
  background: var(--color-dark);
  color: var(--color-light);
}

.site-footer__image {
  margin: var(--size-500) auto var(--size-500) 0;
}

.site-footer__image svg {
  display: block;
}

.site-footer__section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.site-footer__secondary {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.site-footer__navigation {
  margin: var(--size-600) 0;
  font-size: var(--text-300);
}
