.site-footer {
  background: var(--color-dark);
  padding: var(--size-800) 0;
  color: var(--color-light);
}

.site-footer__image {
  margin: 0.5rem auto 0.5rem 0;
}

.site-footer__section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.site-footer__secondary {
  margin-top: var(--size-600);
  padding-top: var(--size-600);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
