.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: var(--size-600) 0;
  color: var(--color-light);
  display: flex;
  justify-content: center;
  transition: var(--transition-standard);
}

.site-header__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-header__logo {
  max-width: 10rem;
  flex-shrink: 1;
  margin-right: var(--size-600);
}

.site-header__logo svg {
  display: block;
  width: 100%;
}

.site-header__navigation {
  display: none;
  margin-left: auto;
  font-size: var(--text-300);
  flex-shrink: 0;
}

@media (min-width: 48em) {
  .site-header__navigation {
    display: block;
  }
}
