body {
  font-family: var(--font-base);
  font-size: var(--step-0);
  color: var(--color-primary-mid);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-primary);
  margin-top: 0;
  margin-bottom: var(--size-300);
  line-height: 1.05;
  font-weight: var(--weight-mid);
}

h1 {
  font-size: var(--text-800);
}

h2 {
  font-size: var(--text-700);
}

h3 {
  font-size: var(--text-500);
}

h4 {
  font-size: var(--text-300);
}

h5 {
  font-size: var(--text-200);
}

p {
  margin-bottom: var(--text-400);
}

a {
  color: currentColor;
}

.eyebrow {
  font-size: var(--text-300);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-normal);
}

blockquote cite {
  font-style: normal;
  font-weight: var(--weight-mid);
}
