---
title: Arco
metaTitle: Location Planning - Arco
metaDesc: Network Strategy Consulting Support. How GEOLYTIX helped Arco understand their optimum store network.
headline: UK Store Expansion
overview: Understanding the Size of the Prize
image: arco.jpg
logo: arco.svg
---

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Challenge" | i18n }}</h2>
  <p>{{ "Arco's mission is to keep people safe at work. Arco have a network of ~50 stores located across the UK alongside their safety training and consultancy business. Our challenge was to understand the drivers of store performance, and to use this to develop a blueprint for the expansion of the stores network; allowing more people to have easier access to a local store." | i18n }}</p>
</div>

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Approach" | i18n }}</h2>
  
  <ul class="checklist">
    <li>{{ "In depth analysis of store data to build understanding of branch catchment areas." | i18n }}</li>
    <li>{{ "Identification of the key factors which drive branch performance – both at the macro (market) level and at the micro (location specific) level." | i18n }}</li>
    <li>{{ "Development of a unique, bespoke database of all trade parks in the UK, each ranked according to it’s suitability for a new Arco store." | i18n }}</li>
    <li>{{ "Identification of the best opportunities for new branch openings, in terms of both the markets to enter and the trade parks on which to locate." | i18n }}</li>
  </ul>
</div>

<h2 class="eyebrow">{{ "The Impact" | i18n }}</h2>

<blockquote class="quote">
  <p>{{ "The GEOLYTIX team worked closely with us to help us to understand our trade customers and stores. Their insight has identified the growth potential for our retail business, and a detailed blueprint to guide our strategic investments as we develop our branch portfolio." | i18n }}</p>
  <cite>{{ "Paul Frewin, Divisional Director - Retail" | i18n }}</cite>
</blockquote>