---
title: ASDA
metaTitle: Location Planning - Grocery Store Blueprint - Asda
metaDesc: How GEOLYTIX help Asda to understand their Optimum Grocery Store Network, Cannibalisation on the existing estate and over and under store performance. 
headline: "'Doing' Network Strategy Better"
overview: Helping ASDA completely overhaul their location planning processes
image: asda.jpg
logo: asda.png
---

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Challenge" | i18n }}</h2>
  <p>{{ "Asda have always focussed a lot of resource on location planning. When GEOLYTIX started to work with them back in 2012, we took time to understand the day to day frustrations of the team, alongside the vision of the leadership team. A complete overhaul of new store forecasting processes and new space strategy has supported ASDA in opening new stores and optimising their current estate." | i18n }}</p>
</div>

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Approach" | i18n }}</h2>
  
  <ul class="checklist">
    <li>{{ "Business Requirements & IT Systems Design Review." | i18n }}</li>
    <li>{{ "Forecasting Models Development– User front end to drive efficiency." | i18n }}</li>
    <li>{{ "Team coaching and mentoring." | i18n }}</li>
  </ul>
</div>

<h2 class="eyebrow">{{ "The Impact" | i18n }}</h2>

<blockquote class="quote">
  <p>{{ "The data & modelling will drive an increase in our forecasting accuracy, bespoke software development makes us more efficient. Just as importantly, GEOLYTIX have mentored and up-skilled the team. The work we have done with GEOLYTIX has shaped our strategy and enabled us to reach a space growth plan we are confident about. GEOLYTIX are helping us to invest wisely." | i18n }}</p>
  <cite>{{ "David Dodd, Market Strategy Manager" | i18n }}</cite>
</blockquote>