---
title: Camelot
headline: Understanding breadth and depth of choice for Lottery Customers
overview: How do we forecast when we don't have loyalty card data?
image: cover.jpg
logo: camelot.svg
---

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Challenge" | i18n }}</h2>
  <p>{{ "Camelot have over 45,000 terminals across many different formats and also have to provide terminals for postcodes with over 2,000 population. With no customer loyalty card, Camelot don't know who is purchasing from their physical in-store locations. How to we predict future revenue potential from new lottery terminals, marketing activity and product innovations." | i18n }}</p>
</div>

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Approach" | i18n }}</h2>
  
  <ul class="checklist">
    <li>{{ "Understanding the behaviour of existing customers to build a model to predict the future." | i18n }}</li>
    <li>{{ "Using surveys, online behaviour and mobility data to model retail behaviour." | i18n }}</li>
    <li>{{ "Understand the effect of demographics and channel at a detailed level." | i18n }}</li>
    <li>{{ "Develop on a platform that will provide in field analytics and mobile data capture, in order to futureproof processes and accuracy." | i18n }}</li>
  </ul>
</div>

<h2 class="eyebrow">{{ "The Impact" | i18n }}</h2>

<blockquote class="quote">
  <p>{{ "GEOLYTIX have transformed our location planning capability and have been fundamental in supporting our goal of unlocking opportunities for growth, optimising our ever changing retail network and further influencing channel strategies. They have absolutely enabled us to make better decisions where location matters." | i18n }}</p>
  <cite>{{ "Paul Clarke, Retail Planning Manager" | i18n }}</cite>
</blockquote>