---
title: Co-op
metaTitle: Combining Art and Science
metaDesc: Is it possible to automate Customer Catchments?
headline: Combining Art and Science
overview: Is it possible to automate Customer Catchments?
image: co-op.jpg
logo: co-op.svg
---

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Challenge" | i18n }}</h2>
  <p>{{ "The Co-op have over 3,500 stores across the UK, and is the local choice for many. Understanding the primary catchment of stores is a key part of the Co-op being able to accurately forecast new store sales and understand potential cannibalisation." | i18n }}</p>
  <p>{{ "The Co-op have a team of location planning experts who can create these primary catchments, but this takes valuable time. Using simple distance and market share rules doesn’t work that well for the Co-op; the catchments are too localised and affected by format, location type and competition." | i18n }}</p>
  <p>{{ "Our challenge was to work with the Co-op team to find a way to automate catchments that reflected what the experts would draw." | i18n }}</p>
</div>

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Approach" | i18n }}</h2>
  
  <ul class="checklist">
    <li>{{ "Calculate market shares using Co-op membership data, taking into account its limitations." | i18n }}</li>
    <li>{{ "Review the most effective geography to use avoiding small number issues while being as detailed as possible." | i18n }}</li>
    <li>{{ "Create a series of catchment outputs using different methods and review hundreds of catchments with the Co-op team" | i18n }}</li>
    <li>{{ "Develop a novel algorithm" | i18n }}</li>
    <li>{{ "Successfully identify ‘break points’ in penetrations and create natural shapes reflecting where the underlying member behaviour changes" | i18n }}</li>
    <li>{{ "Create a composite distance / market share score and rule sets to calculate intuitive segregations for new stores" | i18n }}</li>
  </ul>
</div>

<h2 class="eyebrow">{{ "The Impact" | i18n }}</h2>

<blockquote class="quote">
  <p>{{ "This project was not only successful but enjoyable. Geolytix carried out the project on site, so that we were able to work together as a team; upskilling our team members in the art of algorithms and ensuring our knowledge on local catchments was reflected. The output was an automated process that enables us to update our catchments regularly. This ensures we have the best insight to inform our strategic recommendations and also saves us time that we can re-invest elsewhere in the team. We are certainly keen to apply this collaborative way of working with Geolytix to solve some of our other challenges " | i18n }}</p>
  <cite>{{ "Jen Carmichael, Head of Property Strategy & Insight" | i18n }}</cite>
</blockquote>