---
title: Dominos
headline: Network Planning for Franchisees
overview: Optimising an estate for all involved
image: cover.jpg
logo: dominos.svg
---

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Challenge" | i18n }}</h2>
  <p>{{ "Adding franchisees into the mix adds another dimension for Network Planning. Our challenge is to support the Dominos strategy to be the number one pizza company in each neighbourhood with a focus on franchisee profitability. Understanding Delivery, Collection, Competitors, Catchments and Price." | i18n }}</p>
</div>

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Approach" | i18n }}</h2>
  
  <ul class="checklist">
    <li>{{ "Understand the true drivers of store performance & the impact on nearby stores of opening new sites" | i18n }}</li>
    <li>{{ "Predict new store sales and cannibalisation using a consistent, transparent fact base and model" | i18n }}</li>
    <li>{{ "Improve the efficiency of the store forecasting process to allow more time for the value-add" | i18n }}</li>
    <li>{{ "Deliver the ideal network blueprint and optimum network strategy" | i18n }}</li>
  </ul>
</div>

<h2 class="eyebrow">{{ "The Impact" | i18n }}</h2>

<blockquote class="quote">
  <p>{{ "Our work with GEOLYTIX has enabled us to form a consistent approach to new site forecasting, step changing our understanding of customers catchments and improving our ability to understand regional and store performance. The collaborative approach has resulted in us being able to make decisions around our future location strategy and form ideal network blueprints with significantly increased confidence." | i18n }}</p>
  <cite>{{ "Craig Donnellan, Head of Location Planning" | i18n }}</cite>
</blockquote>