---
title: Harrogate Borough Council
metaTitle: Network Strategy Consulting - High Street
metaDesc: How GEOLYTIX help Marks and Spencer with the challenge of locating on the High Street from a number of different formats and location types.
headline: High Street Activity Index
overview: Quantifying the impact of Covid-19
image: hbc.jpg
logo: hbc.svg
---

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Challenge" | i18n }}</h2>
  <p>{{ "2020 was a year like no other for Britain’s High Streets." | i18n }}</p>
  <p>{{ "Harrogate Borough Council needed a robust way of measuring activity levels within its High Streets, to quantify the impact of external events." | i18n }}</p>
  <p>{{ "As part of the Re-opening High Streets Safely initiative, it also needed to be able to measure the effectiveness of initiatives to recover when it was safe to do so." | i18n }}</p>
</div>

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Approach" | i18n }}</h2>
  
  <ul class="checklist">
    <li>{{ "Geolytix used mobility data to map levels and patterns of activity in 6 key conurbations." | i18n }}</li>
    <li>{{ "A pre-covid baseline was established, and reports produced to show the level of activity relative to that baseline, on a weekly basis." | i18n }}</li>
    <li>{{ "This enabled stakeholders to clearly see the impacts of the lockdowns on town centre activity levels, and then the shape and speed of recovery throughout the year." | i18n }}</li>
    <li>{{ "Regional and National measurements were provided to give additional context." | i18n }}</li>
    <li>{{ "The measurements were provided via the Geolytix Online Mapping platform, MAPP, providing additional data and spatial visualisation." | i18n }}</li>
  </ul>
</div>

<h2 class="eyebrow">{{ "The Impact" | i18n }}</h2>

<blockquote class="quote">
  <p>{{ "The data provided by Geolytix has proved vital in measuring the impact of the Reopening the High Street Safety project funding (which has been provided by HM Government and the European Regional Development Fund)." | i18n }}</p>
  <p>{{ "Since March 2020 various restrictions have been in place relating to the covid pandemic and the innovative use of technology and data that Geolytix utilise has enabled HBC to monitor the impact both of the restrictions and policies in place and of the funding that has been utilised to support the reopening of the high street at various times throughout the past 10 months." | i18n }}</p>
  <p>{{ "Ben and the team at Geolytix have been fantastic to work with right from our initial enquiry.  They listened carefully to challenges that we had and quickly came up with value-for-money solutions and options for us.  They’ve continued to be extremely responsive and have delivered on everything that we have asked for" | i18n }}</p>
  <cite>{{ "Daniel Harper, Executive Office, Economy and Transport, Harrogate Borough Council." | i18n }}</cite>
</blockquote>