---
title: John lewis
metaTitle: Network Strategy Support - John Lewis
metaDesc: Increasing efficiency in the Corporate Planning Cycle - How GEOLYTIX enabled John Lewis to focus on the important stuff.
headline: Improving Efficiency
overview: Enabling John Lewis to successfully review their corporate plan
image: cover.jpg
logo: john-lewis.svg
---

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Challenge" | i18n }}</h2>
  <p>{{ "Setting the annual corporate plan is an important time for retailers and often involves tight timescales. Our challenge was to improve the efficiency of the Catchment Strategy Review Process and enabling more valuable 'thinking' time." | i18n }}</p>
</div>

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Approach" | i18n }}</h2>
  
  <ul class="checklist">
    <li>{{ "Our job was to focus on the process, rather than the modelling which John Lewis carry out in-house." | i18n }}</li>
    <li>{{ "Automate all steps in the process – as few clicks as possible." | i18n }}</li>
    <li>{{ "Include geodata to improve the system." | i18n }}</li>
    <li>{{ "Allow multiple strategic scenarios to be carried out more quickly, including the addition of click and collect locations." | i18n }}</li>
  </ul>
</div>

<h2 class="eyebrow">{{ "The Impact" | i18n }}</h2>

<blockquote class="quote">
  <p>{{ "The GEOLYTIX team were able to provide a bespoke solution that worked for us, rather than an off-the-shelf product. Simon went the extra mile and worked closely with us resulting in a significant improvement in efficiency, allowing multiple multi-channel strategy scenarios to be reviewed" | i18n }}</p>
  <cite>{{ "Michael Flood, Strategic Customer Analysis Manager" | i18n }}</cite>
</blockquote>