---
title: Marks and Spencer
headline: The challenge of the High Street
overview: Forecasting future scenarios to support with complex decisions
image: cover.jpg
logo: marks-and-spencer.svg
---

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Challenge" | i18n }}</h2>
  <p>{{ "High street retailers with a mix of formats and locations face well-documented challenges. M&S asked GEOLYTIX to support them with a step change in the roll-out of the Food estate, alongside understanding the drivers of performance for the Clothing & Home estate. It was essential they understood and continue to understand their optimum network blueprint in changing times." | i18n }}</p>
</div>

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Approach" | i18n }}</h2>
  
  <ul class="checklist">
    <li>{{ "Create an efficient selection & sales forecasting process, based on a rigorous, objective fact base and a consistent approach." | i18n }}</li>
    <li>{{ "Understand the drivers and catchments of the Clothing & Home estate, in order to build optimal networks." | i18n }}</li>
    <li>{{ "Integrate custom models with existing data and software to create the M&S modelling toolkit." | i18n }}</li>
    <li>{{ "Bulk run multiple national and regional scenarios to guide network strategy and create future blueprints." | i18n }}</li>
  </ul>
</div>

<h2 class="eyebrow">{{ "The Impact" | i18n }}</h2>

<blockquote class="quote">
  <p>{{ "GEOLYTIX have worked with us to create a bespoke toolset enabling us to proactively set our strategy and quickly answer any What if scenarios. Their analysis and recommendations have provided us with a consistent evidence base from which to make our network decisions." | i18n }}</p>
  <cite>{{ "Robert Morray, Head of Location Planning" | i18n }}</cite>
</blockquote>