---
title: Mitchells and Butlers
metaTitle: Network Strategy Consulting - Leisure industry
metaDesc: GEOLYTIX support Mitchells and Butlers strategy, a 15 brand business. Understanding what value can be driven from the optimum network of pubs and restaurants.
headline: The Right Brands in the RIght Locations
overview: Dealing with the complexities of 15 brands
image: cover.jpg
logo: mitchells-and-butlers.svg
---

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Challenge" | i18n }}</h2>
  <p>{{ "Mitchells and Butlers own brands from All Bar One and O'Neills to Premium Country Pubs to Miller & Carter to Harvester and Toby. The challenge was set to understand the customer profile and catchment of the brands in order to develop an optimum blueprint. If it was recommended a Toby location changes to Miller & Carter, then could the area support a new Toby location? Would their be cannibalisation of the existing estate from the propsed change? The options are endless. A proven, scientific approach to deploying the right brands in the right locations was required." | i18n }}</p>
</div>

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Approach" | i18n }}</h2>
  
  <ul class="checklist">
    <li>{{ "Produce an integrated optimal network to increase the value from the Mitchells and Butlers annual capital investment plan." | i18n }}</li>
    <li>{{ "Deal with the complexities of 15 brands and their interplay with each other." | i18n }}</li>
    <li>{{ "The ability to run multi-scenarios and incorporate potential new brands." | i18n }}</li>
    <li>{{ "Inclusion of innovative new datasets to drive additional insight." | i18n }}</li>
  </ul>
</div>

<h2 class="eyebrow">{{ "The Impact" | i18n }}</h2>

<blockquote class="quote">
  <p>{{ "Working with Geolytix has allowed us to use complex data combined with our existing knowledge to drive recommendations that make real sense for our business, but also ones that drive value that we wouldn't have discovered ourselves. We have an integrated toolset which enables our analysts to carry out complex queries and our acquisition and development teams to quickly view the potential for a site on a mobile device in any location." | i18n }}</p>
  <cite>{{ "Nick Young, Director of Acquisitions and Estate Strategy" | i18n }}</cite>
</blockquote>