---
title: On The Market
headline: Property Search Portals
overview: Making the search function work for the customer
image: cover.jpg
logo: on-the-market.svg
---

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Challenge" | i18n }}</h2>
  <p>{{ "Ever typed a postcode or town into a search portal only for a long unrelated list to be returned? Our challenge was to build and deliver a web search tool that provides the right properties to view." | i18n }}</p>
</div>

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Approach" | i18n }}</h2>
  
  <ul class="checklist">
    <li>{{ "Provide town and suburb boundaries that reflect where people want to live." | i18n }}</li>
    <li>{{ "Support in creating a search hierarchy that covers all options for users." | i18n }}</li>
    <li>{{ "Provide an accurate Point of Interest dataset to describe the provision in an area e.g. schools, public transport, supermarkets." | i18n }}</li>
  </ul>
</div>

<h2 class="eyebrow">{{ "The Impact" | i18n }}</h2>

<blockquote class="quote">
  <p>{{ "The GEOLYTIX team worked with us to understand our needs and provide accurate data that successfully reflects the areas where people want to search for property. Furthermore they supported our technical team with valuable advice, supporting us in delivering to tight timescales" | i18n }}</p>
  <cite>{{ "Morgan Ross, IT Director" | i18n }}</cite>
</blockquote>