---
title: Total Fitness
headline: Network Planning for the Leisure Industry
overview: Understanding the future potential 
image: cover.jpg
logo: total-fitness.svg
---

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Challenge" | i18n }}</h2>
  <p>{{ "Total Fitness have 17 gyms across the North of England. They believe in a 360 approach and offer a full service from 3 pools, to a track, to over 70 classes. Our challenge was to understand the size of the opportunity for new gym locations, taking into account the format, size of box and catchment for these destination locations. " | i18n }}</p>
</div>

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Approach" | i18n }}</h2>
  
  <ul class="checklist">
    <li>{{ "Determining the best locations for the next Total Fitness gyms." | i18n }}</li>
    <li>{{ "Understand the true customer profiles and catchments for specific location types." | i18n }}</li>
    <li>{{ "Understand the size of the opportunity and how this affects market share and access to potential customers." | i18n }}</li>
  </ul>
</div>

<h2 class="eyebrow">{{ "The Impact" | i18n }}</h2>

<blockquote class="quote">
  <p>{{ "The work by GEOLYTIX quickly allowed us to understand the potential for increasing our market share and how we could best achieve this. They have given us the insight to support our strategic decision making in order to push our business forward." | i18n }}</p>
  <cite>{{ "Richard Millman, CEO" | i18n }}</cite>
</blockquote>