---
title: Wickes
metaTitle: Omnichannel forecasting for Wickes
metaDesc: Optimising the store estate in an Omnichannel landscape - how GEOLYTIX helped Wickes to drive the best return on investment.
headline: Planning for Future Success
overview: Optimising the store estate in an Omnichannel landscape
image: wickes.jpg
logo: wickes.png
---

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Challenge" | i18n }}</h2>
  <p>{{ "Wickes have more than 200 stores across the UK.. Investing in large, physical stores is significant, not least as customers are increasingly choosing to browse and purchase online. It is essential Wickes understands the role a new store will play for customers in a multichannel world, as well as whether there will be any impact of cannibalisation from their neighbouring estate. The shopping trips from their customers vary hugely from picking up a pot of paint, to designing a new luxury kitchen. How can we best capture this in a forecasting model?" | i18n }}</p>
</div>

<div class="gap-bottom-800">
  <h2 class="eyebrow">{{ "The Approach" | i18n }}</h2>
  
  <ul class="checklist">
    <li>{{ "Understand the customer profile and level of spend for the different product categories in the Wickes range" | i18n }}</li>
    <li>{{ "Build a bespoke demand surface at a small geography" | i18n }}</li>
    <li>{{ "Build 2 separate models" | i18n }}</li>
    <li>{{ "A gravity model to forecast the sales for Core DIY" | i18n }}</li>
    <li>{{ "A blended model, including spatial regression to tackle Kitchen & Bathroom Sales" | i18n }}</li>
    <li>{{ "Detailed analysis on real life examples to understand and validate the sales cannibalisation that occurs across the catchment following a new store opening" | i18n }}</li>
  </ul>
</div>

<h2 class="eyebrow">{{ "The Impact" | i18n }}</h2>

<blockquote class="quote">
  <p>{{ "We have a forecasting and mapping tool at our fingertips, that is used throughout our Property planning. And a team of experts a phone-call away for further help if we need!'" | i18n }}</p>
  <cite>{{ "Chris Sweeney, Customer Insight Director, Wickes." | i18n }}</cite>
</blockquote>