---
title: Wickes
headline: Planning for Future Success
overview: Optimising the store estate in an Omnichannel landscape
image: cover.jpg
logo: wickes.svg
---

<div class="gap-bottom-800">
  <h2 class="eyebrow">The Challenge</h2>
  Wickes have more than 200 stores across the UK. Investing in large DIY stores is significant, and it is therefore essential Wickes understand whether a new opening will cannibalise sales from their neighbouring estate. The shopping trips from their customers vary hugely from picking up a pot of paint, to designing a new luxury kitchen. How can we best capture this in a forecasting model?
</div>

<div class="gap-bottom-800">
  <h2 class="eyebrow">The Approach</h2>
  
  <ul class="checklist">
    <li>Understand the customer profile and level of spend for the different product categories in the Wickes range</li>
    <li>Build a bespoke demand surface at a small geography</li>
    <li>A gravity model to forecast the sales for Core DIY</li>
    <li>A blended model, including spatial regression to tackle Kitchen & Bathroom Sales</li>
    <li>Detailed analysis on real life examples to understand and validate the sales cannibalisation that occurs across the catchment following a new store opening</li>
  </ul>
</div>

<h2 class="eyebrow">The Impact</h2>

<blockquote>
  <p>"Our priority was to build a consistent and accurate approach for forecasting sales cannibalisation across the estate.. We’re delighted with the analysis and understanding GEOLYTIX have given us. Our knowledge of loyalty across customer types, catchments, impacts and expected store performance provides a factbase for us to make confident decisions from. We have a forecasting and mapping tool at our fingertips, but a team of experts a phone-call away for further help”.</p>
  <cite>Chris Sweeney, Head of Customer Insight, Wickes.</cite>
</blockquote>