---
layout: layouts/default.njk
title: Our Values - How We Got Here
metaDesc: When location matters, organisations turn to us first. We’re driven by our belief that the best work is born from a happy, dedicated and trusted team.
---

<section class="[ hero ] [ bg-dark ]">
  <img src="{% cloudinary '/hero/about.jpg', 'w_2000,f_auto' %}" class="hero__background" alt="About Us Background">
  <div class="wrapper">
    <div class="measure-short">
      <h1>{{ "About Us" | i18n }}</h1>
      <p>{{ "At GEOLYTIX we help our customers make informed decisions about how many stores, who to acquire, where to open, which format, how to optimise home delivery and click & collect operations." | i18n }}</p>

      <div class="button-group">
        <a href="#team" class="button">{{ "View Our Team" | i18n }}</a>
      </div>
    </div>
  </div>
</section>

<section class="[ hex-background ] [ pad-top-900 pad-bottom-900 ]">
  <canvas class="hex-background__canvas"></canvas>
  <script src="/js/components/hex-background.js" defer></script>
  <div class="wrapper">
    <div class="gap-bottom-800">
      <div class="split-pair">
        <div class="measure-short">
          <h2 class="eyebrow">{{ "Our Values" | i18n }}</h2>
          <h3 class="text-700">{{ "The people who work at Geolytix share our vision and our values." | i18n }}</h3>

          <div class="measure-compact">
            <p>{{ "Geolytix was born in 2011. Co-founded by Blair Freebairn and Sarah Hitchcock, our vision remains the same today." | i18n }}</p>
            <p><strong>{{ "When location matters, organisations turn to us first." | i18n }}</strong></p>
            <p>{{ "The people who work at Geolytix share our vision and values. We’re driven by our belief that the best work is born from a happy, dedicated and trusted team." | i18n }}</p>
          </div>
        </div>
        <div>
          <img src="{% cloudinary '/about/blair-and-sarah.jpg', 'w_616,f_auto' %}" srcset="{% cloudinary '/about/blair-and-sarah.jpg', 'w_616,f_auto,dpr_2.0' %} 2x" class="width-full" alt="Blair and Sarah">
        </div>
      </div>
    </div>

    <ul class="[ numbered-grid-block ] [ auto-grid ]">
      <li class="grid-block">
        <h3 class="grid-block__title">{{ "People" | i18n }}</h3>
        <p>{{ "Geolytix is our people. Relationships really matter to us, we are a team of individuals and love getting to know our clients." | i18n }}</p>
      </li>
      <li class="grid-block">
        <h3 class="grid-block__title">{{ "Trust" | i18n }}</h3>
        <p>{{ "We believe people do business with people. Investment in physical and online networks is costly. Our customers trust us to provide the best strategy." | i18n }}</p>
      </li>
      <li class="grid-block">
        <h3 class="grid-block__title">{{ "Innovate" | i18n }}</h3>
        <p>{{ "We’re passionate about finding new ways to solve client problems and unlock geospatial-insights. Our Data Scientists are the best in the business." | i18n }}</p>
      </li>
      <li class="grid-block">
        <h3 class="grid-block__title">{{ "Be the Best" | i18n }}</h3>
        <p>{{ "We have the best people. We look after ourselves and each other, we learn from each other’s varied experience and set high standards." | i18n }}</p>
      </li>
    </ul>
  </div>
</section>

<section id="global" class="bg-cream-light pad-top-900">
  <div class="wrapper">
    <div class="split-pair">
      <div class="measure-compact">
        <h2>{{ "Global Projects" | i18n }}</h2>
        <p>{{ "We can help you wherever you are or are planning to go. From sharing our gold standard approaches across territories, through planning a new market entry, to crafting consistent global benchmarks. With offices in eight countries we are small but global." | i18n }}</p>
        <a href="/blog/geolytix-going-global/" class="button">Read More</a>
      </div>
      <div>
        <img src="{% cloudinary '/about/map.svg' %}" class="width-full" alt="Map">
      </div>
    </div>

    <div class="gap-top-800">
      <ul class="[ location-list ] [ color-primary text-500 weight-mid ]">
        {% for office in offices.locations %}
          <li>{{ office.title }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<img src="{% cloudinary '/about/team.jpg', 'w_2000,f_auto' %}" srcset="{% cloudinary '/about/team.jpg', 'w_2000,f_auto,dpr_2.0' %} 2x" class="width-full" alt="Team Photo">

<section class="pad-top-900 pad-bottom-900">
  <div class="wrapper">
    <div class="text-align-center gap-bottom-800">
      <div class="measure-compact">
        <h2>{{ "Company Background" | i18n }}</h2>
        <p>{{ "Geolytix was born in 2011. The people who work at Geolytix share our vision and values. We’re driven by our belief that the best work is born from a happy, dedicated and trusted team." | i18n }}</p>
      </div>
    </div>
  </div>
  
  <ul class="card-carousel">
    {% for entry in history.timeline %}
      <li>
        <div class="card">
          <div class="card__inner">
            <h3 class="text-700 color-primary-mid">{{ entry.year }}</h3>
            <h4 class="text-400">{{ entry.title | i18n }}</h4>
            <p>{{ entry.overview | i18n }}</p>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>

  <script src="/js/vendor/tiny-slider.js" defer></script>
  <script src="/js/components/card-carousel.js" defer></script>
</section>

<section class="bg-cream-light pad-top-900 pad-bottom-900">
  <div class="wrapper">
    <div class="text-align-center gap-bottom-800">
      <div class="measure-compact">
        <h2 class="text-700">{{ "Meet Our Teams" | i18n }}</h2>
        <p>{{ "This is our team, a lot of smiling happy people who work hard and understand the likely challenges you will face." | i18n }}</p>
      </div>
    </div>

    <div class="flow">
      <figure class="gallery-block">
        <figcaption class="gallery-block__content">
          <h2 class="eyebrow">{{ "Product Team" | i18n }}</h2>
          <p>{{ "Our product team are passionate people. They pave the way for our success by creating simple and powerful geodata products and online mapping platforms. Creative doers that work very hard and have fun along the way." | i18n }}</p>
        </figcaption>

        <img src="{% cloudinary '/about/product-team.jpg', 'w_550,f_auto' %}" srcset="{% cloudinary '/about/product-team.jpg', 'w_550,f_auto,dpr_2.0' %} 2x" class="gallery-block__media" alt="Product Team Photo">
      </figure>

      <figure class="gallery-block">
        <figcaption class="gallery-block__content">
          <h2 class="eyebrow">{{ "Location Planning Associates" | i18n }}</h2>
          <p>{{ "They're a curious bunch. What makes a place tick? Who would do well here? What are the risks? They've been around the world for some of the biggest brands. They've seen the impact of location decisions and they understand." | i18n }}</p>
        </figcaption>

        <img src="{% cloudinary '/about/location-planning-associates-team.jpg', 'w_550,f_auto' %}" srcset="{% cloudinary '/about/location-planning-associates-team.jpg', 'w_550,f_auto,dpr_2.0' %} 2x" class="gallery-block__media" alt="Product Team Photo">
      </figure>

      <figure class="gallery-block">
        <figcaption class="gallery-block__content">
          <h2 class="eyebrow">{{ "Data Scientists" | i18n }}</h2>
          <p>{{ "Our team of data scientists is the map making, terabyte crunching, cloud computing, query optimising, graph traversing, topology interrogating, drivetime decaying, hyperparameter tuning, tensor flowing, XG boosting innovation machine at the heart of GEOLYTIX’s analytical solutions. They love solving problems using computers." | i18n }}</p>
        </figcaption>

        <img src="{% cloudinary '/about/data-scientists-team_2.jpg', 'w_550,f_auto' %}" srcset="{% cloudinary '/about/data-scientists-team_2.jpg', 'w_550,f_auto,dpr_2.0' %} 2x" class="gallery-block__media" alt="Data Scientists Team Photo">
      </figure>
    </div>
  </div>
</section>

<section id="team" class="bg-cream-light pad-bottom-900">
  <div class="wrapper">
    <ul class="[ bio-grid ] [ auto-grid ]">
      {% for bio in collections.bio %}
        {% set image = '/team/' ~ bio.data.name | firstWord ~ '.jpg' %}
        <li class="bio">
          <img src="{% cloudinary image, 'w_128,h_128,c_fill,d_avatar.svg' %}" srcset="{% cloudinary image, 'w_128,h_128,c_fill,dpr_2.0,d_avatar.svg' %} 2x" class="bio__image" alt="{{ "Photo of" | i18n }} {{ bio.data.name }}"> 
          <h3 class="bio__title"><a href="{{ bio.url }}" class="breakout-button">{{ bio.data.name }}</a></h3>
          <p class="bio__overview">{{ bio.data.position }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>