---
layout: layouts/default.njk
title: About
---

<section class="[ hero ] [ bg-dark ]">
  <img src="/img/hero/about.jpg" class="hero__background" alt="Office">
  <div class="wrapper">
    <div class="measure-short">
      <h1>{{ "About Us" | i18n }}</h1>
      <p>{{ "At GEOLYTIX we help retailers make informed decisions about how many stores, who to acquire, where to open, which format, how to optimise home delivery and click & collect operations." | i18n }}</p>

      <div class="button-group">
        <a href="#" class="button">{{ "What We Do" | i18n }}</a>
        <a href="#" class="button button--outline">{{ "View our team" | i18n }}</a>
      </div>
    </div>
  </div>
</section>

<section class="[ hex-background ] [ pad-top-900 pad-bottom-900 ]">
  <canvas class="hex-background__canvas"></canvas>
  <script src="/js/components/hex-background.js" defer></script>
  <div class="wrapper">
    <div class="gap-bottom-800">
      <div class="measure-short">
        <h2 class="eyebrow">{{ "What We Do" | i18n }}</h2>
        <h3 class="text-700">{{ "The people who work at Geolytix share our vision and our values." | i18n }}</h3>

        <div class="measure-compact">
          <p>{{ "Geolytix was born in 2011 by Blair Freebairn and Sarah Hitchcock. Our vision remains the same today:" | i18n }}</p>
          <p><strong>{{ "When location matters, organisations turn to us first." | i18n }}</strong></p>
          <p>{{ "The people who work at Geolytix share our vision and values. We’re driven by our belief that the best work is born from a happy, dedicated and trusted team." | i18n }}</p>
        </div>
      </div>
    </div>

    <ul class="[ numbered-grid-block ] [ auto-grid ]">
      <li class="grid-block">
        <h3 class="grid-block__title">{{ "People" | i18n }}</h3>
        <p>{{ "Geolytix is our people. Relationships really matter to us, we are a team of individuals and love getting to know our clients." | i18n }}</p>
      </li>
      <li class="grid-block">
        <h3 class="grid-block__title">{{ "Trust" | i18n }}</h3>
        <p>{{ "We believe people do business with people. Investment in physical and online networks is costly. Our customers trust us to provide the best strategy." | i18n }}</p>
      </li>
      <li class="grid-block">
        <h3 class="grid-block__title">{{ "Innovate" | i18n }}</h3>
        <p>{{ "We’re passionate about finding new ways to solve client problems and unlock geospatial-insights. Our Data Scientists are the best in the business." | i18n }}</p>
      </li>
      <li class="grid-block">
        <h3 class="grid-block__title">{{ "Be the Best" | i18n }}</h3>
        <p>{{ "We have the best people. We look after ourselves and each other, we learn from each other’s varied experience and set high standards." | i18n }}</p>
      </li>
    </ul>
  </div>
</section>

<section class="bg-cream-light pad-top-900">
  <div class="wrapper">
    <div class="split-pair">
      <div class="measure-compact">
        <h2>{{ "Global Projects" | i18n }}</h2>
        <p>{{ "We can help you wherever you are or are planning to go. From sharing our gold standard approaches across territories, through planning a new market entry, to crafting consistent global benchmarks. With offices in seven countries we are small but global." | i18n }}</p>
      </div>
      <div>
        <img src="/img/about/map.svg" class="width-full" alt="Map">
      </div>
    </div>

    <div class="gap-top-800">
      <ul class="[ location-list ] [ color-primary text-500 weight-mid ]">
        {% for office in offices.locations %}
          <li>{{ office.title }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<img src="/img/about/team.jpg" class="width-full" alt="">

<section class="pad-top-900 pad-bottom-900">
  <div class="wrapper">
    <div class="text-align-center gap-bottom-800">
      <div class="measure-compact">
        <h2 class="eyebrow">{{ "Company Background" | i18n }}</h2>
        <h3 class="text-700">{{ "Born in 2011." | i18n }}</h3>
        <p>{{ "Geolytix was born in 2011 by Blair Freebairn and Sarah Hitchcock.The people who work at Geolytix share our vision and values. We’re driven by our belief that the best work is born from a happy, dedicated and trusted team. " | i18n }}</p>
      </div>
    </div>
  </div>
  
  <ul class="card-carousel">
    {% for entry in history.timeline %}
      <li>
        <div class="card">
          <div class="card__inner">
            <h3 class="text-800">{{ entry.year }}</h3>
            <p>{{ entry.overview | i18n }}</p>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>

  <script src="/js/vendor/tiny-slider.js" defer></script>
  <script src="/js/components/card-carousel.js" defer></script>
</section>

<section class="bg-cream-light pad-top-900 pad-bottom-900">
  <div class="wrapper">
    <div class="text-align-center gap-bottom-800">
      <div class="measure-compact">
        <h2 class="text-700">{{ "Meet Our Teams" | i18n }}</h2>
        <p>{{ "We understand the likely challenges you will face." | i18n }}</p>
      </div>
    </div>

    <div class="flow">
      <figure class="gallery-block">
        <figcaption class="gallery-block__content">
          <h2 class="eyebrow">{{ "Product Team" | i18n }}</h2>
          <p>{{ "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla commodo, ipsum quis venenatis mollis, dui justo tempor est, at interdum sapien ligula id tortor." | i18n }}</p>
          <p>{{ "Duis sed mi sit amet purus lobortis congue at eu arcu. Nullam ullamcorper nulla pharetra metus accumsan luctus. Mauris dictum faucibus lacus, condimentum posuere quam aliquam id." | i18n }}</p>
        </figcaption>

        <img src="/img/about/product-team.jpg" class="gallery-block__media" alt="Product Team Photo">
      </figure>

      <figure class="gallery-block">
        <figcaption class="gallery-block__content">
          <h2 class="eyebrow">{{ "Asia Pacific Team" | i18n }}</h2>
          <p>{{ "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla commodo, ipsum quis venenatis mollis, dui justo tempor est, at interdum sapien ligula id tortor." | i18n }}</p>
          <p>{{ "Duis sed mi sit amet purus lobortis congue at eu arcu. Nullam ullamcorper nulla pharetra metus accumsan luctus. Mauris dictum faucibus lacus, condimentum posuere quam aliquam id." | i18n }}</p>
        </figcaption>

        <img src="/img/about/product-team.jpg" class="gallery-block__media" alt="Asia Pacific Team">
      </figure>

      <figure class="gallery-block">
        <figcaption class="gallery-block__content">
          <h2 class="eyebrow">{{ "Location Planning Associates" | i18n }}</h2>
          <p>{{ "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla commodo, ipsum quis venenatis mollis, dui justo tempor est, at interdum sapien ligula id tortor." | i18n }}</p>
          <p>{{ "Duis sed mi sit amet purus lobortis congue at eu arcu. Nullam ullamcorper nulla pharetra metus accumsan luctus. Mauris dictum faucibus lacus, condimentum posuere quam aliquam id." | i18n }}</p>
        </figcaption>

        <img src="/img/about/product-team.jpg" class="gallery-block__media" alt="Location Planning Associates">
      </figure>

      <figure class="gallery-block">
        <figcaption class="gallery-block__content">
          <h2 class="eyebrow">{{ "Data Scientists" | i18n }}</h2>
          <p>{{ "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla commodo, ipsum quis venenatis mollis, dui justo tempor est, at interdum sapien ligula id tortor." | i18n }}</p>
          <p>{{ "Duis sed mi sit amet purus lobortis congue at eu arcu. Nullam ullamcorper nulla pharetra metus accumsan luctus. Mauris dictum faucibus lacus, condimentum posuere quam aliquam id." | i18n }}</p>
        </figcaption>

        <img src="/img/about/product-team.jpg" class="gallery-block__media" alt="Data Scientists">
      </figure>
    </div>
  </div>
</section>

<section class="pad-top-900 pad-bottom-900">
  <div class="wrapper">
    <div class="text-align-center gap-bottom-800">
      <div class="measure-compact">
        <h3 class="text-700">{{ "Meet the Team" | i18n }}</h3>
      </div>
    </div>

    <ul class="[ bio-grid ] [ auto-grid ]">
      {% for bio in collections.bio %}
        <li class="bio">
          <img src="/img/team/{{ bio.data.name | firstWord }}.jpg" class="bio__image" alt="{{ "Photo of" | i18n }} {{ bio.data.name }}"> 
          <h3 class="bio__title"><a href="{{ bio.url }}" class="breakout-button">{{ bio.data.name | i18n }}</a></h3>
          <p class="bio__overview">{{ bio.data.position }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>