---
layout: layouts/default.njk
title: Choose
---

<section class="[ hero ] [ bg-dark ]">
  <img src="{% cloudinary '/hero/about.jpg', 'w_1400,f_auto' %}" class="hero__background" alt="Choose Country Background">
  <div class="wrapper text-align-center">
    <div class="measure-short">
      <h1>{{ "Choose Your Country or Region" | i18n }}</h1>
    </div>
  </div>
</section>

<section class="pad-top-900 pad-bottom-900">
  <div class="wrapper wrapper--short">
    <ul class="auto-grid">
      {% for locale in locales %}
        <li class="country-list">
          <a href="{{ locale.root }}" class="breakout-button">{{ locale.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>