---
layout: layouts/default.njk
title: Home
---

<section class="[ hero ] [ bg-dark ]">
  <img src="/img/hero/home.jpg" class="hero__background" alt="Office">
  <div class="wrapper">
    <div class="measure-short">
      <h1>Make better decisions where location matters.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse iaculis nibh eu nisi gravida, et interdum metus rhoncus. Duis vestibulum dui magna, at laoreet nibh convallis non. Aliquam sit amet felis in velit pulvinar pretium ac nec erat.</p>

      <div class="button-group">
        <a href="#" class="button">View our products</a>
        <a href="#" class="button button--outline">Read more about us</a>
      </div>
    </div>
  </div>
</section>