---
layout: layouts/default.njk
title: Location Analytics & Tools for Better Investments
metaDesc: Location Planning experts providing retail & demographic data worldwide. We find the right network strategy solution for our customers.
---

<section class="[ hero ] [ bg-dark ]">
  <img src="{% cloudinary '/hero/home.jpg', 'w_2000,f_auto' %}" class="hero__background" alt="Home Background">
  <div class="wrapper">
    <div class="measure-short">
      <h1>{{ "Make better decisions where location matters." | i18n }}</h1>
      <p>{{ "At Geolytix, our location-planning experts build tools and data that help our customers understand and optimise location when creating both physical and online distribution networks." | i18n }}</p>

      <div class="button-group">
        <a href="#geodata" class="button">{{ "View Our Products" | i18n }}</a>
        <a href="/about/" class="button button--outline">{{ "Read More About Us" | i18n }}</a>
      </div>
    </div>
  </div>
</section>

<section class="wrapper">
  <div class="[ image-panel ] [ lg:breakout-left ]">
    <div class="image-panel__content">
      <div class="pad-top-900 pad-bottom-900">
        <h2>{{ "When location matters, organisations turn to us first" | i18n }}</h2>
        <p>{{ "Since the day Geolytix came into being, we've been telling our customers where to go; how many stores, who to acquire, where to open and how to optimise home delivery and click & collect operations." | i18n }}</p>
        <p>{{ "Investing in stores and online is expensive. We'll help you spend your money wisely" | i18n }}</p>
        <a href="/about/" class="button button--outline">{{ "Read more about us" | i18n }}</a>
      </div>
    </div>

    <img src="{% cloudinary '/home/about.jpg', 'w_732,f_auto' %}" srcset="{% cloudinary '/home/about.jpg', 'w_732,f_auto,dpr_2.0' %} 2x" width="732" height="605" class="image-panel__image" alt="The Team">
  </div>
</section>

<section class="bg-regular-gray pad-top-500 pad-bottom-500">
  <div class="wrapper">
    <ul class="[ stat-block-grid ] [ auto-grid ]">
      <li class="stat-block">
        <h2 class="stat-block__number">35</h2>
        <p class="stat-block__overview">{{ "Talented People" | i18n }}</p>
      </li>
      <li class="stat-block">
        <h2 class="stat-block__number">8</h2>
        <p class="stat-block__overview">{{ "Offices" | i18n }}</p>
      </li>
      <li class="stat-block">
        <h2 class="stat-block__number">50k</h2>
        <p class="stat-block__overview">{{ "Retail Places" | i18n }}</p>
      </li>
      <li class="stat-block">
        <h2 class="stat-block__number">1</h2>
        <p class="stat-block__overview">{{ "Shared Purpose" | i18n }}</p>
      </li>
      <li class="stat-block">
        <h2 class="stat-block__number">51</h2>
        <p class="stat-block__overview">{{ "Countries" | i18n }}</p>
      </li>
      <li class="stat-block">
        <h2 class="stat-block__number">30bn</h2>
        <p class="stat-block__overview">{{ "Mobile Pings" | i18n }}</p>
      </li>
    </ul>
  </div>
</section>

<section id="services" class="[ hex-background ] [ pad-top-900 pad-bottom-900 bg-dark color-primary-light ]">
  <canvas class="hex-background__canvas"></canvas>
  <script src="/js/components/hex-background.js" defer></script>

  <div class="wrapper">
    <div class="text-align-center gap-bottom-800">
      <div class="measure-compact">
        <h2 class="eyebrow">{{ "What We Do" | i18n }}</h2>
        <h3 class="text-700">{{ "We help our customers make informed decisions" | i18n }}</h3>
        <p>{{ "Since the day Geolytix came into being, we've been telling our customers where to go; how many stores, who to acquire, where to open and how to optimise home delivery and click & collect operations." | i18n }}</p>
      </div>
    </div>

    <ul class="auto-grid">
      <li class="grid-block">
        <img src="/img/icons/network.svg" width="48" height="48" alt="Network icon" class="grid-block__icon">
        <h3 class="grid-block__title">{{ "Network Strategy" | i18n }}</h3>
        <p>{{ "It’s never been more important for a retailer to understand how to optimise its store network. Whether you want to understand the potential number of stores you can open, how new formats will work together or how many stores you should close, given your growth in online sales, we can help." | i18n }}</p>
      </li>
      <li class="grid-block">
        <img src="/img/icons/location.svg" width="48" height="48" alt="Location icon" class="grid-block__icon">
        <h3 class="grid-block__title">{{ "Location Planning" | i18n }}</h3>
        <p>{{ "Many of us have worked as Location Planners for major retailers. Over the years we have had experience in all industries and the public sector across the world. Whether you need to understand how much a new store will take, sales cannibalisation or your online and offline customer profiles we can help." | i18n }}</p>
      </li>
      <li class="grid-block">
        <img src="/img/icons/omnichannel.svg" width="48" height="48" alt="Omnichannel icon" class="grid-block__icon">
        <h3 class="grid-block__title">{{ "Omnichannel Retailing" | i18n }}</h3>
        <p>{{ "GEOLYTIX believe many businesses are missing a trick by not better combining their demographic, spatial and customer data. Whether its loyalty card, online, banking or mobility data we would love the opportunity to help you drive out more insight and get the right mix of Bricks and Clicks." | i18n }}</p>
      </li>
      <li class="grid-block">
        <img src="/img/icons/spatial.svg" width="48" height="48" alt="Spatial icon" class="grid-block__icon">
        <h3 class="grid-block__title">{{ "Spatial Modelling" | i18n }}</h3>
        <p>{{ "Spatial is different. GEOLYTIX understand when a simple scorecard will suffice, or when a customised gravity model or machine learning techniques will drive added value. We understand businesses don’t just need a model, but a framework that will improve your processes & management reporting." | i18n }}</p>
      </li>
    </ul>
  </div>
</section>

<section id="geodata" class="pad-top-900">
  <div class="wrapper">
    <div class="text-align-center gap-bottom-700">
      <div class="measure-compact">
        <h2 class="eyebrow">{{ "GeoData" | i18n }}</h2>
        <h3 class="text-700">{{ "Where people live, work, study and shop." | i18n }}</h3>
        <p>{{ "We create datasets across the globe to help with your network strategy and location based decisions." | i18n }}</p>
      </div>
    </div>

    <div class="tabs">
      <div class="text-align-center">
        <ul class="segment-control" role="tablist">
          <li role="tab" aria-selected="true" data-tab="uk"><button>{{ "United Kingdom" | i18n }}</button></li>
          <li role="tab" data-tab="europe"><button>{{ "Europe" | i18n }}</button></li>
          <li role="tab" data-tab="asia-pacific"><button>{{ "Asia Pacific" | i18n }}</button></li>
          <li role="tab" data-tab="americas"><button>{{ "Americas" | i18n }}</button></li>
        </ul>
      </div>

      <div data-tab-id="uk" role="tabpanel" aria-hidden="false" aria-label="United Kingdom">
        <div class="[ window ] [ display-none md:display-block ]">
          <div class="window__toolbar">
            <span class="window__toolbar-item"></span>
            <span class="window__toolbar-item"></span>
            <span class="window__toolbar-item"></span>
          </div>
          <div class="window__inner">
            <iframe src="https://geolytix.dev/geodata/view/embedded?locale=London" aria-label="UK GeoData"></iframe>
          </div>
        </div>
        <div class="text-align-center pad-bottom-400 display-block md:display-none">
          <a href="https://geolytix.dev/geodata?locale=London" class="button" target="_blank" rel="noopener noreferrer">Open maps &rarr;</a>
        </div>
      </div>

      <div data-tab-id="europe" role="tabpanel" aria-hidden="true" aria-label="Europe">
        <div class="window">
          <div class="window__toolbar">
            <span class="window__toolbar-item"></span>
            <span class="window__toolbar-item"></span>
            <span class="window__toolbar-item"></span>
          </div>
          <div class="window__inner">
            <p>Europe</p>
          </div>
        </div>
      </div>

      <div data-tab-id="asia-pacific" role="tabpanel" aria-hidden="true" aria-label="Asia Pacific">
        <div class="window">
          <div class="window__toolbar">
            <span class="window__toolbar-item"></span>
            <span class="window__toolbar-item"></span>
            <span class="window__toolbar-item"></span>
          </div>
          <div class="window__inner">
            <p>Asia</p>
          </div>
        </div>
      </div>

      <div data-tab-id="americas" role="tabpanel" aria-hidden="true" aria-label="Americas">
        <div class="window">
          <div class="window__toolbar">
            <span class="window__toolbar-item"></span>
            <span class="window__toolbar-item"></span>
            <span class="window__toolbar-item"></span>
          </div>
          <div class="window__inner">
            <p>Americas</p>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/components/tabs.js" defer></script>
  </div>
</section>

<section id="mapp" class="bg-cream-light pad-top-900 pad-bottom-900">
  <div class="wrapper">
    <div class="text-align-center gap-bottom-800">
      <div class="measure-compact">
        <h2 class="eyebrow">{{ "MAPP" | i18n }}</h2>
        <h3 class="text-700">{{ "Spatial intelligence customised for you." | i18n }}</h3>
      </div>
    </div>

    <div class="auto-grid">
      <div>
        <h3 class="eyebrow">Overview</h3>
        <p>{{ "MAPP is our online market intelligence and mapping tool which allows anybody to use location data for business decision-making." | i18n }}</p>
        <p>{{ "We create bespoke, innovative solutions which work for you." | i18n }}</p>
        <p>{{ "Visualise your stores, competitors, filter by performance and generate reports and dashboards in a matter of seconds..." | i18n }}</p>
      </div>
      <div>
        <h3 class="eyebrow">Key Features</h3>
        <ul class="checklist">
          <li>{{ "Catchment & demographic analysis" | i18n }}</li>
          <li>{{ "Site feasibility assessments" | i18n }}</li>
          <li>{{ "Gap analysis & hotspots" | i18n }}</li>
          <li>{{ "Import & export data" | i18n }}</li>
          <li>{{ "User roles" | i18n }}</li>
        </ul>
      </div>
      <div>
        <h3 class="eyebrow">Key Benefits</h3>
        <ul class="checklist">
          <li>{{ "Simple & easy-to-use" | i18n }}</li>
          <li>{{ "Accessible anywhere" | i18n }}</li>
          <li>{{ "Secure" | i18n }}</li>
          <li>{{ "Unlimited usage" | i18n }}</li>
          <li>{{ "Integrated data & modelling" | i18n }}</li>
        </ul>
      </div>
    </div>

    {# <div class="[ button-group ] [ text-align-center gap-top-600 gap-bottom-600 ]">
      <a href="https://geolytix.xyz/mapp" class="button" target="_blank" rel="noopener noreferrer">{{ "Try MAPP for free" | i18n }}</a>
    </div> #}
  </div>
</section>

<section class="pad-top-900 pad-bottom-900">
  <div class="wrapper">
    <div class="text-align-center gap-bottom-800">
      <div class="measure-compact">
        <h3 class="text-700">{{ "Our products create success stories." | i18n }}</h3>
        <p>{{ "We build close, on-going relationships with our customers and will become your trusted advisers" | i18n }}</p>
      </div>
    </div>
  </div>

  <ul class="card-carousel">
    {% for story in collections.success %}
      <li>
        {% include './_includes/partials/case-study-card.njk' %}
      </li>
    {% endfor %}
  </ul>

  <script src="/js/vendor/tiny-slider.js" defer></script>
  <script src="/js/components/card-carousel.js" defer></script>

  <div class="wrapper wrapper--short">
    <div class="text-align-center gap-top-800">
      <h3 class="eyebrow color-primary-mid gap-bottom-600">{{ "Our Customers also include:" | i18n }}</h3>

      <ul class="[ logo-grid ] [ auto-grid ]">
        <li><img src="{% cloudinary "/stories/logos/adidas.svg" %}" width="377" height="77" alt="Adidas Logo"></li>
        <li><img src="{% cloudinary "/stories/logos/arco.svg" %}" width="3228" height="936" alt="Arco Logo"></li>
        <li><img src="{% cloudinary "/stories/logos/asda.png" %}" width="2121" height="623" alt="Asda Logo"></li>
        <li><img src="{% cloudinary "/stories/logos/camelot.png" %}" width="210" height="158" alt="Camelot Logo"></li>
        <li><img src="{% cloudinary "/stories/logos/coles.svg" %}" width="440" height="143" alt="Coles Logo"></li>
        <li><img src="{% cloudinary "/stories/logos/co-op.svg" %}" width="440" height="143" alt="Coop Logo"></li>
        <li><img src="{% cloudinary "/stories/logos/costa.png" %}" width="2057" height="640" alt="Costa Logo"></li>
        <li><img src="{% cloudinary "/stories/logos/currys.svg" %}" width="1587" height="1123" alt="Currys PC World Logo"></li>
        <li><img src="{% cloudinary "/stories/logos/dominos.png" %}" width="288" height="60" alt="Dominos Logo"></li>
        <li><img src="{% cloudinary "/stories/logos/dr-martens.png" %}" width="2000" height="1140" alt="Dr Martens Logo"></li>
        <li><img src="{% cloudinary "/stories/logos/ee.png" %}" width="929" height="1607" alt="EE Logo"></li>
        <li><img src="{% cloudinary "/stories/logos/gsttc.png" %}" width="1575" height="1575" alt="GSTTC Logo"></li>
        <li><img src="{% cloudinary "/stories/logos/hbc.svg" %}" width="186" height="94" alt="HBC Logo"></li>
        <li><img src="{% cloudinary "/stories/logos/john-lewis.svg" %}" width="2500" height="1577" alt="John Lewis Logo"></li>
        <li><img src="{% cloudinary "/stories/logos/kfc.svg" %}" width="779" height="779" alt="KFC Logo"></li>
        <li><img src="{% cloudinary "/stories/logos/mands.svg" %}" width="1773" height="1085" alt="M&S Logo"></li>
        <li><img src="{% cloudinary "/stories/logos/mitchells.png" %}" width="1123" height="793" alt="Mitchells Logo"></li>
        <li><img src="{% cloudinary "/stories/logos/on-the-market.svg" %}" width="1067" height="400" alt="On the Market Logo"></li>
        <li><img src="{% cloudinary "/stories/logos/post-office.svg" %}" width="300" height="225" alt="Post Office Logo"></li>
        <li><img src="{% cloudinary "/stories/logos/sainsburys.png" %}" width="995" height="399" alt="Sainsbury's Logo"></li>
        <li><img src="{% cloudinary "/stories/logos/savills.svg" %}" width="500" height="500" alt="Savills Logo"></li>
        <li><img src="{% cloudinary "/stories/logos/tesco.svg" %}" width="200" height="53" alt="Tesco Logo"></li>
        <li><img src="{% cloudinary "/stories/logos/total-fitness.png" %}" width="399" height="126" alt="Total Fitness Logo"></li>
        <li><img src="{% cloudinary "/stories/logos/waitrose.svg" %}" width="652" height="652" alt="Waitrose Logo"></li>
        <li><img src="{% cloudinary "/stories/logos/walmart.svg" %}" width="2500" height="719" alt="Walmart Logo"></li>
        <li><img src="{% cloudinary "/stories/logos/west-yorkshire-auth.png" %}" width="533" height="533" alt="West Yorkshire Auth Logo"></li>
        <li><img src="{% cloudinary "/stories/logos/wickes.png" %}" width="5000" height="2690" alt="Wickes Logo"></li>
      </ul>
    </div>
  </div>
</section>