---
permalink: search.json
---
{"search" : [
{%- for item in collections.posts -%}
  {
    "url" : "{{ item.url }}",
    "title" : "{{ item.title }}",
    "text" : "{{ (item.title + " " + item.html) | lower | striptags | escape | squash }}"
  }{% if not loop.last %},{% else %}{%- endif -%}
{%- endfor -%}
]}