---
layout: layouts/default.njk
title: Case Studies - Our Success
metaDesc: Find out about how we've enabled our customers to achieve success by making the right network strategy decisions.
---

<section class="[ hero ] [ bg-dark ]">
  <img src="{% cloudinary '/hero/stories.jpg', 'w_2000,f_auto' %}" class="hero__background" alt="Stories Background">
  <div class="wrapper">
    <div class="measure-short">
      <h1>{{ "Success Stories" | i18n }}</h1>
      <p>{{ "See how our customers and partners are using our predictive location intelligence to drive real results." | i18n }}</p>
    </div>
  </div>
</section>


<section class="pad-top-900 pad-bottom-900">
  <div class="wrapper">
    <ul class="auto-grid auto-grid--fill">
      {% for story in collections.success %}
        <li>
          {% include './_includes/partials/case-study-card.njk' %}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>