---
layout: layouts/default.njk
title: About
---

<section class="[ hero ] [ bg-dark ]">
  <img src="/img/hero/about.jpg" class="hero__background" alt="Office">
  <div class="wrapper">
    <div class="measure-short">
      <h1>{{ "Success Stories" | i18n }}</h1>
      <p>{{ "At GEOLYTIX we help retailers make informed decisions about how many stores, who to acquire, where to open, which format, how to optimise home delivery and click & collect operations." | i18n }}</p>
    </div>
  </div>
</section>


<section class="pad-top-900 pad-bottom-900">
  <div class="wrapper">
    <ul class="auto-grid auto-grid--fill">
      {% for story in collections.success %}
        <li>
          {% include './_includes/partials/case-study-card.njk' %}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>