---
layout: layouts/default.njk
title: Thanks
sitemapIgnore: true
---

<section class="[ hero ] [ bg-dark text-align-center ]">
  <img src="{% cloudinary '/hero/about.jpg', 'w_2000,f_auto' %}" class="hero__background" alt="Contact Us Background">
  <div class="wrapper">
    <div class="measure-short">
      <h1>{{ "Thanks for your submission." | i18n }}</h1>
      <p>{{ "We'll be in touch shortly." | i18n }}</p>
    </div>
  </div>
</section>