<div class="card">
  <img src="/img/stories/{{ story.data.image }}" class="card__cover" alt="{{ "Photo of" | i18n }} {{ story.data.title }}">
  <div class="card__inner">
    <a href="{{ story.url }}" class="breakout-button"><img src="/img/stories/{{ story.data.logo }}" class="card__logo" alt="{{ story.data.title | i18n }} {{ "Logo" | i18n }}"></a>
    <p>{{ story.data.overview | i18n }}</p>
  </div>
</div>