<div class="card">
  <a href="{{ story.url }}" class="breakout-button"><img src="/img/stories/{{ story.data.image }}" class="card__cover" alt="{{ "Photo of" | i18n }} {{ story.data.title }}"></a>
  
  <div class="card__inner">
    <img src="/img/stories/{{ story.data.logo }}" class="card__logo" alt="{{ story.data.title | i18n }} {{ "Logo" | i18n }}">
    <p>{{ story.data.overview | i18n }}</p>
  </div>
</div>