<li><a href="{{ "/#services" }}">{{ "Services" | i18n }}</a></li>
<li><a href="{{ "/#geodata" }}">{{ "GeoData" | i18n }}</a></li>
<li><a href="{{ "/#mapp" }}">{{ "MAPP" | i18n }}</a></li>
<li class="divider"><a href="{{ "/about/" }}">{{ "About" | i18n }}</a></li>
<li><a href="{{ "/stories/" }}">{{ "Success Stories" | i18n }}</a></li>
<li><a href="/blog/">{{ "Blog" | i18n }}</a></li>
<li><a href="{{ "/contact/" }}" class="button button--outline">{{ "Contact Us" | i18n }}</a></li>